[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
auto-py-to-exe = "*"

[packages]
openpyxl = "*"
pysimplegui = "*"
packaging = "*"

[requires]
python_version = "3.7"
